# Connection to tracezilla api and get data

## make connection and define functions

In [3]:
import requests
import pandas as pd
import streamlit as st
import os

API_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI3IiwianRpIjoiMjIyZTM5OGE4YzA5M2M2NmMyNzIwNDFjZTQzNWY2ZDczYzc4YTE4YWE1ZDk2ZmRlYzE3MjJlYjAxMzdkNTJjMDYzYTJkMzUzMGQxYzIxYzQiLCJpYXQiOjE3MTU4MDgwOTguNzM1NzMxLCJuYmYiOjE3MTU4MDgwOTguNzM1NzM0LCJleHAiOjE3NDczNDQwOTguNzMzMzI0LCJzdWIiOiIxNzM2Iiwic2NvcGVzIjpbXX0.vVtqcEP_JPKp6co5rmnZErB7ZGmSSjxpkxdVIdUWGjRHSTUEXHQfZ9nByfagaPCaQa5CGohcROWqU9vBowDOt1m-1xnYx_7N-hzBG7WqVtXTXHSPzeqXkNVXllYuaJ7LS8lFIEotSE3G2iHPz_evdiHHpFmQqsfnU2NL3RgfHtyj_5WRBtEYlTh8tKP-gR-RhRN8b6LDtObKN_nLwpcivpSqTp5Gybxez02mpjbVxjwit6tYWYqAvFUnt2Z_E5ZsCuAFPpayngOsPa-Tupfyuv03Z-ZLl3PRzxWd-udjUj05YacNP0zFXghrnsaE_z1SI2xWhbREyp37y65ZkSGs_UJoTwMTFRTMs322iw8tIB_2LCeBtEh4gmCqQ3YmeMhT9LFU7AAX4DNmPInyCmr3XXe7MDs0Uh2Pv_pxEdaO_awZJi0fZHNrotscSw9VcwWbR_03lBPvzETvtInCNo3yNPyc2z8C-f_q7aV9fPJNBOe7m2DprOpjfZEvy2Oa6B3qav8ImQRRY9gnX1OToH4awLyIaJNsfHGvWbgzqBZUXkEms7YiehqjiSfuGgoNuUiisG5-D8OwVrGc68QhnBK9_EdJYHxFM28AOAgxVfaoqULRNNfrnGvI07E7cPoBb7n83w13w9CvIxgdm2BYfV3rB668oVlkGhusYVNOWVBUgBI"
# 39720876 wooden spoon id

# Headers for the API Request
headers = {
    "Authorization": f"Bearer {API_TOKEN}",
    "Content-Type": "application/json"
}

# List of URLs to fetch data from
all_urls = [
    'https://app.tracezilla.com/api/v1/wooden-spoon/price-lists/purchase',
    'https://app.tracezilla.com/api/v1/wooden-spoon/price-lists/sales',
    'https://app.tracezilla.com/api/v1/wooden-spoon/recipes',
    'https://app.tracezilla.com/api/v1/wooden-spoon/skus',
    'https://app.tracezilla.com/api/v1/wooden-spoon/invoices',
    'https://app.tracezilla.com/api/v1/wooden-spoon/partners'
]

# Function to fetch data for each URL with pagination
def fetch_data(url):
    all_data = []
    page = 1
    while True:
        response = requests.get(f"{url}?page={page}", headers=headers)
        if response.status_code == 200:
            data = response.json()
            all_data.extend(data['data'])
            # Check if there is a next page
            next_page = data['links'].get('next')
            if next_page:
                page += 1
            else:
                break
        else:
            st.error(f"Error fetching data from {url}: {response.status_code}")
            break
    return all_data

# Convert API data to a Pandas DataFrame
def process_data_to_dataframe(data):
    try:
        return pd.json_normalize(data)  # Flatten nested JSON if needed
    except Exception as e:
        st.error(f"Error processing data: {e}")
        return None



# 'https://app.tracezilla.com/api/v1/wooden-spoon/orders'

## get recipes and ingredients(sku)

#### merge recipes and skus

In [7]:
# get recipes and sku
df_recipes = process_data_to_dataframe(fetch_data('https://app.tracezilla.com/api/v1/wooden-spoon/recipes'))
df_skus = process_data_to_dataframe(fetch_data('https://app.tracezilla.com/api/v1/wooden-spoon/skus'))

# Merge df_skus with selected columns from df_recipes
df_sku_merged = pd.merge(
    df_skus, 
    df_recipes[['id', 'number', 'name', 'ref', 'description','active']],  # Include relevant columns
    left_on='auto_recipe_id', 
    right_on='id',
    how='left',
    suffixes=('', '_recipe')  # Avoid column name conflicts
)

# Drop the duplicate 'id' column created after the merge (from df_recipes)
df_sku_merged = df_sku_merged.drop(columns=['id_recipe'])
# Rename 'id' column to 'sku_id'
df_sku_merged = df_sku_merged.rename(columns={'id': 'sku_id'})
df_sku_merged = df_sku_merged.rename(columns={'name': 'recipe_name'})
#a table of sku codes

In [8]:
df_sku_merged.head(3)

,sku_id,sku_code,smart_logic,ean,ean_uom,ean_parcel,category,auto_recipe_id,global_name,latin_name,...,specify_lot_input,decimals,ingredient_id,created_at,updated_at,number,recipe_name,ref,description,active_recipe
0,351acae1-a18f-40d1-9724-47009313b208,10000,None,None,None,None,raw_material,None,"Karry, Madras, konventional 10 kg sæk",None,...,False,3,None,2024-06-03T05:06:57Z,2025-01-09T10:48:52Z,NaN,NaN,NaN,NaN,NaN
1,baf310bf-6133-4aef-a4a0-c299aaef70fe,100001,None,None,None,None,raw_material,None,Laktosfri Øko piske fløde 36%,None,...,False,0,None,2024-09-04T12:20:22Z,2024-11-26T08:36:47Z,NaN,NaN,NaN,NaN,NaN
2,a6b4ab8d-fe7f-4220-9b6e-24bdf7894b06,100002,None,None,None,None,raw_material,None,Canelli bønner Øko,None,...,False,0,None,2024-09-04T12:23:16Z,2024-11-26T08:36:47Z,NaN,NaN,NaN,NaN,NaN

In [9]:
df_recipes

,id,number,name,ref,description,reference_consume_id,preferred_interval,master_resource_id,replacement_id,replaced_from,units_per_hour,fixed_minutes,active,created_at,updated_at
0,25907d80-77fa-41f2-9dec-56d75255b998,78,3 cheese broccoli pot pie,None,"10 kolli, 200stk, feb 2023",None,None,None,None,None,None,None,False,2021-06-18T08:14:52Z,2024-07-25T07:53:26Z
1,6e12808d-f44d-4131-8c48-fc91576a7a70,179,5105: Øko Baked beans 3kg / 3 ps pr kll,None,None,None,None,None,None,None,None,None,True,2024-11-26T08:41:39Z,2024-11-26T11:29:32Z
2,3006681f-df3c-4c69-962b-b94c1d77cc59,58,Æblegrød,None,None,None,None,None,None,None,None,None,False,2020-10-23T19:30:49Z,2024-07-25T08:17:18Z
3,20d9250e-dcd2-45c5-926a-a4c71f796b28,61,Æblemarmelade Frydenlund,None,None,None,None,None,None,None,None,None,True,2020-10-30T11:44:53Z,2024-10-21T07:50:42Z
4,5622a946-c0f5-477e-a2f5-4e88e457e174,161,Aloo Palak øko,None,"50 kolli, 300 glas",None,None,None,None,None,None,None,False,2024-03-11T10:07:24Z,2024-10-04T07:08:30Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,f5c142b4-dcfc-41ae-a913-c6c0e18ececb,27,Vildtragout - Udgået 13.06.23,None,x factor 480- 80 kolli,None,None,None,None,None,None,None,False,2020-02-27T13:02:21Z,2023-06-13T07:41:38Z
171,bd5fe6c3-effb-4451-b23f-48b3466c0d26,97,Vindaloo,None,None,None,None,None,None,None,None,None,False,2022-09-22T09:10:55Z,2023-08-09T10:33:22Z
172,8d8d89b2-7c57-46e1-883b-5fca57e0b257,111,Waguy Glace,None,"360 glas, 60 kasser\n1/2 Gryde",None,None,None,None,None,None,None,True,2023-06-05T10:07:23Z,2023-08-10T09:14:27Z
173,bbe9079f-463f-46a6-ab15-486e406883ad,100,"Wagyu Glace sauce, gastro club",None,None,None,None,None,None,None,None,None,False,2022-10-06T07:56:16Z,2023-08-10T09:22:21Z
174,32ca401e-32a5-4df9-b784-e196b5ada1d4,83,Winter Root Pie,None,40 kolli- 800 stk,None,None,None,None,None,None,None,False,2021-09-30T07:10:50Z,2023-09-28T09:08:10Z

#### Recipes and ingredients

In [11]:
def fetch_data_(url):
    all_data = []
    page = 1
    while True:
        response = requests.get(f"{url}?page={page}", headers=headers)
        if response.status_code == 200:
            data = response.json()
            
            # Ensure 'data' key exists in the response
            if 'data' in data:
                all_data.extend(data['data'])
            else:
                #print(f"No 'data' key found on page {page}. Stopping.")
                break
            
            # Check for pagination 'links' key safely
            if 'links' in data and data['links'].get('next'):
                page += 1
            else:
                # Stop if 'links' or 'next' key is not present
                #print("No more pages to fetch.")
                break
        else:
            print(f"Error fetching data from {url}: {response.status_code}")
            break
    return all_data

In [12]:
# Get list of Recipes Consumes, build up dataset of recipe and ingredients

all_recipes_data = []

# Loop through all recipe IDs
for recipe_id in df_recipes['id']:
    url = f'https://app.tracezilla.com/api/v1/wooden-spoon/recipes/{recipe_id}/consumes'    
    # Fetch data for the current recipe
    try:
        skus = fetch_data_(url)
        for sku in skus:
            sku['recipe_id'] = recipe_id  # Add recipe_id to each SKU for context
            all_recipes_data.append(sku)
    except Exception as e:
        print(f"Failed to fetch data for Recipe ID {recipe_id}: {e}")

# Convert the collected data into a DataFrame
df_all_recipes_skus = pd.DataFrame(all_recipes_data)

In [13]:
# recipes and skus
df_all_recipes_skus.head(3)

,id,recipe_id,sku_id,use_percentage,percentage,uom_conversion,uoms_with_shrinkage,uoms_with_shrinkage_and_waste,uoms_base,substitutes_id,expected_shrinkage,expected_manuf_waste,rounding_factor,quid,compound_ingredient,created_at,updated_at
0,4dc881e1-3aa5-4177-9dff-b4159541b48e,25907d80-77fa-41f2-9dec-56d75255b998,8c142bee-f0b9-4523-a3c2-7775526d2683,False,NaN,1.3,1.3,1.3,0.0,None,0,0,1,False,False,2021-06-18T08:18:59Z,2023-02-23T11:53:54Z
1,5d7df897-fab2-40c0-b9df-7fe763c3d7de,25907d80-77fa-41f2-9dec-56d75255b998,f1c17661-f38c-41c8-83eb-17a39b11c2ab,False,NaN,38.0,38.0,38.0,0.0,None,0,0,1,False,False,2021-06-18T08:18:51Z,2023-02-23T11:53:42Z
2,4f6363d7-e8eb-41c5-8f6f-5d0222e2e41d,25907d80-77fa-41f2-9dec-56d75255b998,84fb680e-bd4a-4f0a-ae9d-69a9ce5603b0,False,NaN,0.2,0.2,0.2,0.0,None,0,0,1,False,False,2021-06-18T08:18:42Z,2023-02-23T11:53:27Z

## price of skus

### price_list, sku price in purchase orders(only records the latest price)

In [19]:

df_purchase = process_data_to_dataframe(fetch_data('https://app.tracezilla.com/api/v1/wooden-spoon/price-lists/purchase'))
price_listid= df_purchase['id']

In [20]:
def fetch_data_(url):
    all_data = []
    page = 1
    while True:
        response = requests.get(f"{url}?page={page}", headers=headers)
        if response.status_code == 200:
            data = response.json()
            
            # Ensure 'data' key exists
            if 'data' in data:
                all_data.extend(data['data'])  # Append data part of the response
            else:
                print(f"No 'data' key found on page {page}. Stopping.")
                break
            
            # Check for pagination
            if 'links' in data and data['links'].get('next'):
                page += 1
            else:
                break
        else:
            print(f"Error fetching data from {url}: {response.status_code}")
            break
    return all_data

# Collect all data parts
all_data_parts = []

for i in price_listid:
    url = f'https://app.tracezilla.com/api/v1/wooden-spoon/price-lists/purchase/{i}/prices'
#    print(f"Fetching data for Price List ID: {i}")
    
    try:
        data_part = fetch_data_(url)  # Fetch the "data" part
        all_data_parts.extend(data_part)  # Combine all data into a single list
    except Exception as e:
        print(f"Failed to fetch data for Price List ID {i}: {e}")

# Convert the combined data into a DataFrame
df_sku_prices = pd.DataFrame(all_data_parts)

In [21]:
df_sku_prices.head(3)

,id,price_list_id,sku_id,price,correction_percentage,quantity_from,quantity_to,delivered_from,delivered_to,weight,active,created_at,updated_at
0,a6845bfb-3fd7-456d-96e7-4dddac82a5cf,b3420577-dd31-44c3-87c0-f174cb212adf,1a7b6307-494a-4304-bdf6-c73df6ce4b3a,45.00000,None,None,None,None,None,0,True,2024-08-09T09:03:58Z,2024-08-09T09:03:58Z
1,50591e67-99a3-441d-b37a-ac95f244adf5,b3420577-dd31-44c3-87c0-f174cb212adf,b8d52ffa-3e72-4101-82d6-7b396d4e2040,42.28200,None,None,None,None,None,0,True,2024-09-30T05:56:00Z,2024-09-30T05:56:00Z
2,d7fffb42-8bb6-4e1a-a8e8-0b8997b3443a,b3420577-dd31-44c3-87c0-f174cb212adf,1b4afb90-eebe-4138-abbb-0c7b2438fce7,0.13213,None,None,None,None,None,0,True,2024-10-15T07:16:27Z,2024-10-15T07:16:27Z

In [22]:
## gets the price for each sku in different purchase price_list, but only records the latest price
## e.g. 
df_sku_prices[df_sku_prices['sku_id']=='1a7b6307-494a-4304-bdf6-c73df6ce4b3a']

,id,price_list_id,sku_id,price,correction_percentage,quantity_from,quantity_to,delivered_from,delivered_to,weight,active,created_at,updated_at
0,a6845bfb-3fd7-456d-96e7-4dddac82a5cf,b3420577-dd31-44c3-87c0-f174cb212adf,1a7b6307-494a-4304-bdf6-c73df6ce4b3a,45.00,None,None,None,None,None,0,True,2024-08-09T09:03:58Z,2024-08-09T09:03:58Z
219,b1278d12-0b32-413e-a508-433f625a57e0,a1adf808-5b08-4648-b29d-38afb6f3adcc,1a7b6307-494a-4304-bdf6-c73df6ce4b3a,38.80,None,None,None,None,None,0,True,2024-09-02T11:39:51Z,2024-09-02T11:39:51Z
405,cbb791c4-b1d4-4d37-b9c1-ffd6439dfc35,65c0fe3e-dfc3-4e1d-983e-9c8614ac6e04,1a7b6307-494a-4304-bdf6-c73df6ce4b3a,37.36,None,None,None,None,None,0,True,2024-01-08T09:29:40Z,2024-04-04T10:00:24Z

### production orders

In [26]:
# production order id
df_pro_orders = process_data_to_dataframe(fetch_data('https://app.tracezilla.com/api/v1/wooden-spoon/orders/production'))
production_order_id = df_pro_orders['id']

In [27]:
df_pro_orders.head(2)

,id,type,number,currency,exchange_rate,contact_id,ext_ref,marking,order_date,payment_term_method,...,retrace_is_running,retrace_is_needed,is_confirmed,retrace_started_at,retrace_finished_at,recalculate_service_lines,lock_picking_until_confirmed,last_sent_at,created_at,updated_at
0,6eb8f480-42b9-414b-91ce-59cb290980b7,production,3464,DKK,100,None,None,None,2025-01-07,month_days,...,False,False,True,2025-01-08T08:02:02Z,2025-01-08T08:02:07Z,False,False,None,2025-01-07T12:24:10Z,2025-01-08T08:02:07Z
1,9054b6ee-9fe7-4a9f-876b-4c9264cbb312,production,3463,DKK,100,None,None,None,2025-01-07,month_days,...,False,False,True,2025-01-07T12:51:10Z,2025-01-07T12:51:12Z,False,False,None,2025-01-07T12:23:46Z,2025-01-07T12:51:12Z

In [28]:
def fetch_production_orders(base_url, api_token):
    all_orders = []  # To store all order data
    next_url = base_url
    headers = {
        "Authorization": f"Bearer {api_token}"
    }

    while next_url:
        response = requests.get(next_url, headers=headers)
        try:
            response.raise_for_status()  # Raise exception for HTTP errors
            data = response.json()  # Attempt to parse JSON
        except requests.exceptions.HTTPError as http_err:
            print(f"HTTP error occurred: {http_err}")
            print(f"Response Text: {response.text}")
            break
        except ValueError as json_err:
            print(f"JSON parse error: {json_err}")
            print(f"Raw response: {response.text}")
            break

        # Append data from the current page
        all_orders.extend(data.get('data', []))

        # Move to the next page
        next_url = data.get('links', {}).get('next')

    return all_orders

# Base URL for the first page
base_url = "https://app.tracezilla.com/api/v1/wooden-spoon/orders/production?type%5Beq%5D=production&sortBy=created_at&sortDirection=asc&perPage=25&additional=budgets%2Corder_sub_total"

orders = fetch_production_orders(base_url,API_TOKEN)

df_orders = pd.json_normalize(orders)

In [29]:
df_orders.head(3)

,id,type,number,currency,exchange_rate,contact_id,ext_ref,marking,order_date,payment_term_method,...,retrace_is_running,retrace_is_needed,is_confirmed,retrace_started_at,retrace_finished_at,recalculate_service_lines,lock_picking_until_confirmed,last_sent_at,created_at,updated_at
0,3e62609e-0ea2-42ca-9ca3-9aea6f2fa7b9,production,1,DKK,100,None,None,None,2020-01-02,month_days,...,False,False,True,2021-03-05T14:12:02Z,2021-03-05T14:12:02Z,False,False,None,2019-12-30T11:01:39Z,2021-03-05T14:12:02Z
1,42d9af85-23e9-400c-b612-7e15b0097321,production,2,DKK,100,None,None,None,2020-01-02,month_days,...,False,False,True,2021-03-05T14:12:02Z,2021-03-05T14:12:02Z,False,False,None,2020-01-06T07:59:49Z,2021-03-05T14:12:02Z
2,786cd547-a34c-459b-be79-f67ac0410ada,production,3,DKK,100,None,None,None,2020-01-16,month_days,...,False,False,True,2021-03-05T14:12:03Z,2021-03-05T14:12:03Z,False,False,None,2020-01-16T10:57:50Z,2021-03-05T14:12:03Z

### order inbounds

In [32]:
# Initialize lists
all_data_parts = []  # To store all successful data
failed_ids = []  # List to store IDs that failed
timeout_ids = []  # List to store IDs that failed due to timeout

# Main loop to fetch data for production orders
for i in production_order_id:
    url = f'https://app.tracezilla.com/api/v1/wooden-spoon/orders/production/{i}/inbound/lots?include=lot,sku,sku.files_count,sku.comments_count,lot.attribute_values,lot.traces,lot.dates,lot.traces_brought_forward,lot.traces_brought_forward.origin_lot,line_number&additional=lot_restrictions'
    try:
        data_part = fetch_data_(url)  # Fetch the "data" part
        all_data_parts.extend(data_part)  # Combine all data into a single list
    except requests.exceptions.Timeout:
        print(f"Timeout for Production Order ID {i}")
        timeout_ids.append(i)  # Collect IDs with timeout errors
    except requests.exceptions.RequestException as e:
        print(f"Failed to fetch data for Production Order ID {i}: {e}")
        failed_ids.append(i)  # Collect other errors
        # Debugging: Check raw response
        try:
            response = requests.get(url, timeout=30)
        except Exception as debug_e:
            print(f"Could not fetch raw response for {i}: {debug_e}")

# Combine all data into a single DataFrame
df_order_inbounds_add = pd.DataFrame(all_data_parts)

print("Data fetching complete.")
print(f"Total records fetched: {len(df_order_inbounds_add)}")
print(f"Failed IDs: {len(failed_ids)}")
print(f"Timeout IDs: {len(timeout_ids)}")

Data fetching complete.
Total records fetched: 3457
Failed IDs: 0
Timeout IDs: 0

In [33]:
df_order_inbounds_add.head(3)

,id,lot_id,order_id,section,sku_id,line_text,partner_location_id,unit,unit_price,price_per,...,sku,lot,stock_quantity_total,lot_unit_price,stock_unit_price,total_price,none_traceable_stock,sku_partner_code,line_number,no_predecessor
0,ea000ed9-69ae-4717-8df8-ba9a94f63007,f7a5e2f7-4422-47fd-87fe-49f87a45c5b0,6eb8f480-42b9-414b-91ce-59cb290980b7,inbound,54a60be7-a7d1-4ea9-b88f-524764110a59,None,0bf31e9d-9004-4065-a725-f9ee5b4136fb,colli,0.0,lot_unit,...,"{'id': '54a60be7-a7d1-4ea9-b88f-524764110a59',...","{'id': 'f7a5e2f7-4422-47fd-87fe-49f87a45c5b0',...",636.0,0.0,0.0,0.0,0,None,0,False
1,033720ed-60c9-4999-ac6e-8be6f21b8fbf,ec06bc36-3eb2-4bd1-93f8-ca958d1a7839,9054b6ee-9fe7-4a9f-876b-4c9264cbb312,inbound,c329c81c-4e81-4c63-8add-e68818f2f955,None,0bf31e9d-9004-4065-a725-f9ee5b4136fb,colli,0.0,lot_unit,...,"{'id': 'c329c81c-4e81-4c63-8add-e68818f2f955',...","{'id': 'ec06bc36-3eb2-4bd1-93f8-ca958d1a7839',...",624.0,0.0,0.0,0.0,0,None,0,True
2,6357c97d-48b1-4651-82c5-8b661fcb9738,ba85df12-3d3f-448a-8a78-befb19f0caeb,780af6d6-d69b-4f66-b5ef-da4e47edd9d8,inbound,872832fe-401c-465f-a2f6-ffbf4d7c4b70,None,0bf31e9d-9004-4065-a725-f9ee5b4136fb,colli,0.0,lot_unit,...,"{'id': '872832fe-401c-465f-a2f6-ffbf4d7c4b70',...","{'id': 'ba85df12-3d3f-448a-8a78-befb19f0caeb',...",600.0,0.0,0.0,0.0,0,None,0,False

In [34]:
processed_data = []

# Iterate through each row of the DataFrame
for _, row in df_order_inbounds_add.iterrows():
    sku = row['sku']  # Nested SKU details
    lot = row['lot']  # Nested lot details
    inbound_order_lot = lot.get('inbound_order_lot', {})  # Nested inbound_order_lot details
    order = inbound_order_lot.get('order', {})  # Nested order details within inbound_order_lot
    
    # Extract relevant fields
    processed_data.append({
        # Order Details
        "order_id": order.get('id'),
        "order_date": order.get('order_date'),
        "delivery_date": order.get('delivery_date'),
        "currency": order.get('currency'),
        
        # SKU Details
        "sku_id": sku.get('id'),
        "sku_code": sku.get('sku_code'),
        "global_name": sku.get('global_name'),
        "unit_of_measure": sku.get('unit_of_measure'),
        
        # Lot Details
        "lot_number_complete": lot.get('lot_number_complete'),
        "quantity_available": lot.get('quantity_available'),
        "unit": lot.get('unit'),
        "uom_conversion": lot.get('uom_conversion'),
        
        # Price Details
        "unit_price": inbound_order_lot.get('unit_price'),
        "line_price": inbound_order_lot.get('line_price'),
        "total_price": inbound_order_lot.get('total_price'),
    })

# Create a DataFrame
df_prices = pd.DataFrame(processed_data)

### order invoices

In [37]:
invoices = process_data_to_dataframe(fetch_data('https://app.tracezilla.com/api/v1/wooden-spoon/invoices'))

In [38]:
invoices.head(2)

,id,order_id,number,contact_id,ext_ref,currency,exchange_rate,invoice_date,delivery_selection,customer_id,...,paid_amt_foreign_currency,invoice_total,send_by_edi,edi_error,send_by_email,status,ocr,credit_reason,created_at,updated_at
0,90c37d4b-eefc-4ef2-9d78-68eda711b6de,77c14022-db8b-4b65-a823-abec8f576af6,2001.0,b8460fc2-673a-473c-ad86-a0c235ad137e,04894,DKK,100,2020-01-01,delivered,341e5d9f-aea5-4ed9-9335-909257889246,...,33642.0,0.0,False,None,False,paid,None,None,2020-01-22T11:36:20Z,2020-04-01T07:19:33Z
1,9d046823-c474-45f7-8694-6da8788ea4b6,9fb5c474-ee4a-4fc3-a194-d02a93a486da,2002.0,None,PO 4019297676,DKK,100,2020-01-02,delivered,ff6822b5-aaf4-46b5-8097-51eb2ece9697,...,NaN,0.0,False,None,False,pending,None,None,2020-01-22T11:42:53Z,2020-01-28T10:39:30Z

In [39]:
invoice_id = invoices['id']
data_part =[]
all_data_parts= []

for i in invoice_id:
    url = f'https://app.tracezilla.com/api/v1/wooden-spoon/invoices/{i}/lines-extract'
    try:
        data_part = fetch_data_(url)  # Fetch the "data" part
        all_data_parts.extend(data_part)  # Combine all data into a single list
    except Exception as e:
        print(f"Failed to fetch data for Price List ID {i}: {e}")

# Convert the combined data into a DataFrame
df_invoice = pd.DataFrame(all_data_parts)

In [40]:
df_invoice = df_invoice[df_invoice['category']=='sales_price']
df_invoice.head(3)

,id,calculation,category,customer_edi_unit,customer_line_number,customer_order_ean,customer_partner_id,customer_location_id,deliver_to_location_id,deliver_to_partner_id,...,customer_req_days_expiry,customer_sku_code,customer_sku_code_uom,sku_id,source,unit_price,uom_conversion,uoms_per_price_unit,created_at,updated_at
0,02cc72ce-32ef-4b3d-9fd8-109c76a71120,per_unit,sales_price,None,NaN,None,341e5d9f-aea5-4ed9-9335-909257889246,eb62d312-3a6a-4f44-81f4-110c27eb63e2,92a7efb6-cede-42a1-9ead-887825d441b4,341e5d9f-aea5-4ed9-9335-909257889246,...,NaN,None,None,dbf8082a-a8f6-4150-a629-657b30f6fa74,OrderInvoiceLot,386.88,6.0,6,2020-01-22T11:36:20Z,2020-01-22T11:36:20Z
1,02cc72ce-32ef-4b3d-9fd8-109c76a71120,per_unit,sales_price,None,NaN,None,341e5d9f-aea5-4ed9-9335-909257889246,eb62d312-3a6a-4f44-81f4-110c27eb63e2,92a7efb6-cede-42a1-9ead-887825d441b4,341e5d9f-aea5-4ed9-9335-909257889246,...,NaN,None,None,dbf8082a-a8f6-4150-a629-657b30f6fa74,OrderInvoiceLot,386.88,6.0,6,2020-01-22T11:36:20Z,2020-01-22T11:36:20Z
2,02cc72ce-32ef-4b3d-9fd8-109c76a71120,per_unit,sales_price,None,NaN,None,341e5d9f-aea5-4ed9-9335-909257889246,eb62d312-3a6a-4f44-81f4-110c27eb63e2,92a7efb6-cede-42a1-9ead-887825d441b4,341e5d9f-aea5-4ed9-9335-909257889246,...,NaN,None,None,dbf8082a-a8f6-4150-a629-657b30f6fa74,OrderInvoiceLot,386.88,6.0,6,2020-01-22T11:36:20Z,2020-01-22T11:36:20Z

In [41]:
#### used data from production orders, but have missing data in 2024. so here we use delivery_date as the time stamp for prices
#df_invoice_com = df_invoice.merge(
 #   df_pro_orders[['number', 'order_date', 'currency', 'type']].rename(columns={'type': 'order_type'}),
  #  left_on='order_number',
   # right_on='number',
    #how='left'
#)

# Drop the duplicate 'number' column if it is no longer needed
#df_invoice_com.drop(columns=['number'], inplace=True)


# Second Join: Match on 'sku_id'
df_invoice_com = df_invoice.merge(
    df_prices[['sku_id', 'sku_code', 'global_name']],
    on='sku_id',
    how='left')

In [42]:
df_invoice_com.head(2)

,id,calculation,category,customer_edi_unit,customer_line_number,customer_order_ean,customer_partner_id,customer_location_id,deliver_to_location_id,deliver_to_partner_id,...,customer_sku_code_uom,sku_id,source,unit_price,uom_conversion,uoms_per_price_unit,created_at,updated_at,sku_code,global_name
0,02cc72ce-32ef-4b3d-9fd8-109c76a71120,per_unit,sales_price,None,NaN,None,341e5d9f-aea5-4ed9-9335-909257889246,eb62d312-3a6a-4f44-81f4-110c27eb63e2,92a7efb6-cede-42a1-9ead-887825d441b4,341e5d9f-aea5-4ed9-9335-909257889246,...,None,dbf8082a-a8f6-4150-a629-657b30f6fa74,OrderInvoiceLot,386.88,6.0,6,2020-01-22T11:36:20Z,2020-01-22T11:36:20Z,103k,"Chili con carne, kasse"
1,02cc72ce-32ef-4b3d-9fd8-109c76a71120,per_unit,sales_price,None,NaN,None,341e5d9f-aea5-4ed9-9335-909257889246,eb62d312-3a6a-4f44-81f4-110c27eb63e2,92a7efb6-cede-42a1-9ead-887825d441b4,341e5d9f-aea5-4ed9-9335-909257889246,...,None,dbf8082a-a8f6-4150-a629-657b30f6fa74,OrderInvoiceLot,386.88,6.0,6,2020-01-22T11:36:20Z,2020-01-22T11:36:20Z,103k,"Chili con carne, kasse"

In [43]:
df_prices_sku = df_invoice_com[[
    'order_id',
    'delivery_date',
    'sku_id',
    'sku_code',
    'global_name',
    'unit_price',
    'uom_conversion',
    'uoms_per_price_unit',
    'calculation',
    'quantity',
    'quantity_parcels',
    'base_unit',
    'quantity_uom'
]].rename(columns={'order_type_y': 'order_type'})

In [44]:
df_prices_sku = df_prices_sku.drop_duplicates()
df_prices_sku['price_uom'] = df_prices_sku['unit_price'] / df_prices_sku['uom_conversion']

In [77]:
df_prices_sku.head(3)

,order_id,delivery_date,sku_id,sku_code,global_name,unit_price,uom_conversion,uoms_per_price_unit,calculation,quantity,quantity_parcels,base_unit,quantity_uom,price_uom
0,77c14022-db8b-4b65-a823-abec8f576af6,2020-01-01,dbf8082a-a8f6-4150-a629-657b30f6fa74,103k,"Chili con carne, kasse",386.88,6.0,6,per_unit,10.0,0.0,colli,60.0,64.48
196,77c14022-db8b-4b65-a823-abec8f576af6,2020-01-01,204caf63-38bb-4960-aa28-4918fb06bffa,107k,"Tikka masala, kasse",433.68,6.0,6,per_unit,11.0,0.0,colli,66.0,72.28
322,77c14022-db8b-4b65-a823-abec8f576af6,2020-01-01,62709663-5724-47ab-b6b2-d8b1abff7002,NaN,NaN,301.20,6.0,6,per_unit,17.0,0.0,colli,102.0,50.20

### diaplay data above in streamlit

In [ ]:
# recipes
df_recipes

# sku
df_sku_merged

# recipe and ingredients(sku)
df_all_recipes_skus

# production order inbounds
df_order_inbounds_add

# invoices
df_invoice_com

# sku prices
df_prices_sku

# latest sku prices
df_sku_prices



# Streamlit App
st.title("Tracezilla Data Viewer")

# Loop through the URLs and fetch data for each one
for url in all_urls:
    st.subheader(f"Data from: {url}")
    
    # Fetch data for the current URL
    data = fetch_data(url)
    
    if data:
        # Convert data to DataFrame
        df = process_data_to_dataframe(data)
        
        if df is not None:
            # Display the table for the current dataset
            st.dataframe(df)  # Display interactive table

            # Add filter for customer partner or any field (example for filtering 'customer_partner.name')
            if 'name' in df.columns:
                customers = df['name'].dropna().unique()
                selected_customer = st.selectbox(f"Filter by Customer for {url}", options=["All"] + list(customers))

                if selected_customer != "All":
                    filtered_df = df[df['name'] == selected_customer]
                else:
                    filtered_df = df
                st.write(f"Showing results for: {selected_customer}")
                st.dataframe(filtered_df)

                # Export to CSV option
                csv = filtered_df.to_csv(index=False)
                st.download_button(
                    label=f"Download CSV for {url}",
                    data=csv,
                    file_name=f"{url.split('/')[-1]}_data.csv",
                    mime="text/csv"
                )
            else:
                st.write("No customer partner name column found for filtering.")
        else:
            st.error(f"Failed to process data for {url}.")
    else:
        st.error(f"Failed to fetch data from {url}.")